<h2>Criar categoria: </h2>
<div class="card">
    <div class="card-body">
        <form action="/admin/categorias/nova" method="post">
            <label for="nome">Nome: </label>
            <input type="text" name="nome" class="form-control mt-2" placeholder="Nome da categoria">
            <button type="submit" class="btn btn-success mt-3">Criar categoria</button>
        </form>
    </div>  
</div>  