
<div class="card">
    <div class="card-body">
        <h3>{{post.titulo}}</h3>
        <p>Postado em: {{post.data}} <br> Categoria: {{post.categoria.nome}}</p>
        <hr><br>
        <h5>{{post.conteudo}}</h5>
    </div>
</div>  