{{#each errors}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}
<h3>Criar conta: </h3>
<div class="card">
    <div class="card-body">
        <form action="/user/signup" method="POST">
            <label for="nome">Nome: </label>
            <input type="text" name="nome" class="form-control" required>
            <label for="email">Email: </label>
            <input type="email" name="email" class="form-control" required>
            <label for="senha">Senha: (6 ou mais caracteres) </label>
            <input type="password" name="senha" class="form-control" required>
            <label for="senha2">Repita a senha: </label>
            <input type="password" name="senha2" class="form-control" required>
            <button type="submit" class="btn btn-secondary mt-2">Cadastrar</button>
        </form>
    </div>
</div>