<div class="card">
    <div class="card-body">
        <h3>Lista de categorias: </h3>
        <br>
        <a href="/admin/categorias/add"><button class="btn btn-success">Adicionar categoria</button></a><br><hr>
        {{#each categoria}}
          <h4>{{nome}}</h4>
          <a href="/admin/categorias/edit/{{_id}}"><button class="btn btn-success">Editar</button></a> 
          <form action="/admin/categorias/delete" method="post">
          <input type="hidden" name="id" value="{{_id}}">
          <button class="btn btn-danger mt-2">Deletar</button>
          </form>   
          <hr>
        {{else}}
            <br>
            <h3>Nenhuma categoria foi adicionada ainda</h3>
            <br>
        {{/each}}

    </div>
</div>